.flex-container-column {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 2px;
}

input {
    width: 256px;
    margin-bottom: 12px;
}

input:valid {
    border: lightgreen solid 2px;
}

input:invalid {
    border: lightcoral solid 2px;
}

button {
    width: 256px;
}