
body {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.list-container {
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
}

ol {
    /* border: 4px solid rgb(44, 44, 44); */
}

li {
    /* border-bottom: 4px solid rgb(44, 44, 44); */
}

.game-container {
    background-color: lightcyan;
}